#all
{
    
   
    width: 980px;
    margin: auto;
    
}
img
{
    display:block;
}
body
{
    background-image: url('e.jpg');
}
button
{
    background-color: #4c4c4c;
    color: #f1f1f1;
}
#header
{
   
/*    background-image: url("pics/header.jpg");
    border: solid 1px black;
    height: 130px;*/
}


/*#sidebar
{
    float: left;
    border: solid 1px black;
    width: 150px;
    min-height: 900px;
}*/

#main
{
   background-color: #f1f1f1;
    border: solid 1px black;
   min-height: 600px;
}

#footer
{
    
    clear: both;
    
}
/*#sidebar1
{
    float: left;
    border: solid 1px black;
    width: 150px;
    
}*/

.tfstyle
{
    width: 250px;
    height: 30px;
    font-family: arial;
    font-size: 20px;
    border: 2px solid gray;
    border-radius: 8px;
    color: black;
}
.tablestyle
{
    font-family: arial;
    font-size: 20px;
    text-transform: capitalize;
}
.submit
{
    width: 100px;
    height: 30px;
    font-family: arial;
    font-size: 20px;
    border: 2px solid black;
    background-color:rgb(191,191,255);
    font-weight: bolder;
    border-radius: 8px;
}
.button
{
    font-family: arial;
    font-size: 20px;
    border: 2px solid black;
    background-color:rgb(234,234,255);
    font-weight: bolder;

    border-radius: 8px;

}
textarea
{
    width: 400px;
    height: 150px;
    border-radius: 8px;
    border: 2px solid black;
    max-width: 400px;
    max-height: 150px;
    
}
.file
{
    font-family: arial;
    font-size: 20px;
    border: 2px solid black;
    background-color:rgb(191,191,255) ;
    font-weight: bolder;
    border-radius: 8px;  
}
label
{
 font-family: arial;
 font-size: 20px; 
 font-weight: bolder;

}


 
.textbox 
{ 
    -moz-border-radius-topright: 30px;
    -webkit-border-top-right-radius: 30px;
    border-top-right-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
    -webkit-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px dashed #f1f1f1; 
    background: #4c4c4c url('search.png') no-repeat 4px 4px; 
    outline:0; 
    color: #f1f1f1;
    height:25px; 
    width: 150px; 
    padding-right:20px; 
    padding-left:20px; 
  } 
.textboxnew 
{ 
    -moz-border-radius-topright: 30px;
    -webkit-border-top-right-radius: 30px;
    border-top-right-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
    -webkit-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px dashed #f1f1f1; 
    background: #4c4c4c ; 
    outline:0; 
    color: #f1f1f1;
    height:25px; 
    width: 150px; 
    padding-right:20px; 
    padding-left:20px; 
  } 
  .studentlogin
  {
      background-image: url('students.jpg');
      width: 980px;
      min-height:600px;
  }
  .adminlogin
  {
      background-image: url('student.jpg');
      width: 980px;
      hieght:600px;
  }
   .recruiter
   {
       background-image: url('recruiter.jpg');
   }
  .CSSTableGenerator 
  {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #4c4c4c;
	
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
	
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
	
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
	
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
}.CSSTableGenerator tr:hover td{
	background-color:#f1f1f1;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
		background:-o-linear-gradient(bottom, #4c4c4c 5%, #f1f1f1 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #f1f1f1) ); 
	background:-moz-linear-gradient( center top, #4c4c4c 5%, #f1f1f1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#f1f1f1");	background: -o-linear-gradient(top,#4c4c4c,f1f1f1);

	background-color:#4c4c4c;

	border:1px solid #4c4c4c;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:10px;
	font-size:15px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #4c4c4c 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #4c4c4c 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#000000");	background: -o-linear-gradient(top,#4c4c4c,000000);

	background-color:#4c4c4c;
	border:0px solid #4c4c4c;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Times New Roman;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #4c4c4c 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #4c4c4c 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#000000");	background: -o-linear-gradient(top,#4c4c4c,000000);

	background-color:#4c4c4c;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


.tabletexture
{
    background-image: url('pattern.jpg');
}
